<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- For automatic upgrade to work only first three parts of version number are used -->
  <Product Id="*" Name="Chemistry Add-In for Microsoft Word 2022 Beta 1" Manufacturer="Chem4Word" Version="3.2.1.8094" UpgradeCode="865226e7-d29d-49aa-a390-dda49979b102" Language="1033">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Chem4Word is already installed." />
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" CompressionLevel="high" />
    <!-- EULA Must be edited in WordPad NOT Word -->
    <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />
    <Property Id="ARPCOMMENTS">This is the WiX installer for Chemistry Add-In for Microsoft Word</Property>
    <Property Id="ARPHELPLINK">https://www.chem4word.co.uk/help</Property>
    <Property Id="ARPURLINFOABOUT">https://www.chem4word.co.uk/about</Property>
    <Property Id="ARPURLUPDATEINFO">https://www.chem4word.co.uk/update</Property>
    <Property Id="ARPNOMODIFY" Value="1" />
    <WixVariable Id="WixUIBannerBmp" Value="WixUIBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialog.bmp" />
    <Icon Id="Chem4Word.ico" SourceFile="Chem4Word.ico" />
    <Property Id="ARPPRODUCTICON" Value="Chem4Word.ico" />
    <Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PlugIns" />
      <ComponentGroupRef Id="ThirdParty" />
      <ComponentGroupRef Id="SQLite.x86" />
      <ComponentGroupRef Id="SQLite.x64" />
      <ComponentGroupRef Id="Manual" />
      <!--<ComponentGroupRef Id="RegistryEntries" />-->
    </Feature>
    <Property Id="CHEM4WORDV2">
      <DirectorySearch Id="Chem4Wordx32" Path="[ProgramFilesFolder]\Chem4Word" Depth="1">
        <FileSearch Name="Chem4Word.AddIn.dll" MinVersion="0.0.0.0" MaxVersion="99.99.9999.9999" />
      </DirectorySearch>
      <DirectorySearch Id="Chem4Wordx64" Path="[ProgramFiles64Folder]\Chem4Word" Depth="1">
        <FileSearch Name="Chem4Word.AddIn.dll" MinVersion="0.0.0.0" MaxVersion="99.99.9999.9999" />
      </DirectorySearch>
    </Property>
    <!-- Ensure Word not running -->
    <Condition Message="Word is running. Please close it then run this installer again."><![CDATA[Installed OR (NOT WINWORDPROCESSCOUNT)]]></Condition>
    <!-- Ensure Chem4Word 2 removed -->
    <Condition Message="Please uninstall version 2 of Chem4Word, then run this installer again."><![CDATA[Installed OR (NOT CHEM4WORDV2)]]></Condition>
    <!-- Ensure Windows 7 plus -->
    <!-- https://msdn.microsoft.com/library/aa370556.aspx -->
    <Condition Message="This application is only supported on Windows 7, Windows Server 2008 R2, or higher."><![CDATA[Installed OR (VersionNT >= 601)]]></Condition>
    <!-- Ensure .Net Framework 4.6.2 -->
    <!-- https://msdn.microsoft.com/en-us/library/ee942965(v=vs.110).aspx#detect_net -->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="This application requires .NET Framework 4.6.2. Please install the .NET Framework then run this installer again."><![CDATA[Installed OR NETFRAMEWORK45 >= "#394802"]]></Condition>
    <!-- Include our Custom Actions assembly -->
    <!-- https://blogs.msdn.microsoft.com/jschaffe/2012/10/23/creating-wix-custom-actions-in-c-and-passing-parameters/ -->
    <!-- https://www.codeproject.com/Articles/132918/Creating-Custom-Action-for-WIX-Written-in-Managed -->
    <Binary Id="WiX.CustomAction.dll" SourceFile="..\Wix.CustomAction\bin\x86\$(var.Configuration)\WiX.CustomAction.CA.dll" />
    <CustomAction Id="WordProcessCount" BinaryKey="WiX.CustomAction.dll" DllEntry="WordProcessCount" Return="check" Execute="immediate" />
    <CustomAction Id="CleanRegistry" BinaryKey="WiX.CustomAction.dll" DllEntry="CleanUserRegistry" Return="check" Execute="deferred" Impersonate="yes" />
    <CustomAction Id="SetupChem4Word" BinaryKey="WiX.CustomAction.dll" DllEntry="SetupChem4Word" Return="check" Execute="deferred" Impersonate="no" />
    <CustomAction Id="RemoveChem4Word" BinaryKey="WiX.CustomAction.dll" DllEntry="RemoveChem4Word" Return="check" Execute="deferred" Impersonate="no" />
    <InstallUISequence>
      <Custom Action="WordProcessCount" Before="LaunchConditions" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="CleanRegistry" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="SetupChem4Word" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="RemoveChem4Word" Before="InstallFinalize">Installed</Custom>
    </InstallExecuteSequence>
    <Property Id="VSTODESIGNTIME">
      <RegistrySearch Id="VSTODesignTime" Root="HKLM" Key="SOFTWARE\Microsoft\VSTO_DT\VS10\Feature" Type="raw" />
    </Property>
    <Property Id="VSTORUNTIMEREDIST">
      <RegistrySearch Id="VSTORuntimeRedist" Root="HKLM" Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4R" Name="Version" Type="raw" />
    </Property>
    <Condition Message="The Visual Studio 2010 Tools for Office Runtime is not installed. Please download and install from https://www.microsoft.com/en-GB/download/details.aspx?id=48217."><![CDATA[Installed OR VSTODESIGNTIME OR VSTORUNTIMEREDIST >= "10.0.60724"]]></Condition>
    <UI Id="UserInterface">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="WelcomeEulaDlg" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
      <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Read the User Manual" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="DisplayUserManual">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <CustomAction Id="DisplayUserManual" Directory="MANUAL" ExeCommand="cmd.exe /c start Chem4Word-Version3-2-User-Manual.docx" Execute="immediate" Return="asyncNoWait" />
    <UIRef Id="WixUI_Common" />
  </Product>
  <!-- Define directory structure -->
  <Fragment>
    <!-- User Directory Id attributes MUST BE UPPERCASE !! -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Chem4Word V3">
          <Directory Id="PLUGINSFOLDER" Name="PlugIns" />
          <Directory Id="MANUAL" Name="Manual" />
          <Directory Id="SQLITEX64" Name="x64" />
          <Directory Id="SQLITEX86" Name="x86" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <!-- The Chem4Word DLLs etc -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Our Main Assembly -->
      <Component Id="Chem4Word.V3">
        <File Id="Chem4Word.V3.dll" Source="$(var.Chem4Word.V3.TargetPath)" />
      </Component>
      <Component Id="Chem4Word.V3.pdb">
        <File Id="Chem4Word.V3.pdb" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.V3.pdb" />
      </Component>
      <Component Id="Chem4Word.V3.config">
        <File Id="Chem4Word.V3.dll.config" Source="$(var.Chem4Word.V3.TargetPath).config" />
      </Component>
      <Component Id="Chem4Word.V3.manifest">
        <File Id="Chem4Word.V3.dll.manifest" Source="$(var.Chem4Word.V3.TargetPath).manifest" />
      </Component>
      <Component Id="Chem4Word.V3.vsto">
        <File Id="Chem4Word.V3.vsto" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.V3.vsto" />
      </Component>
      <!-- Updater -->
      <Component Id="Chem4WordUpdater.exe">
        <File Id="Chem4WordUpdater.exe" Source="..\Chem4WordUpdater\bin\$(var.Configuration)\Chem4WordUpdater.exe" />
      </Component>
      <!-- Our Other Assemblies -->
      <Component Id="Chem4Word.ACME">
        <File Id="Chem4Word.ACME.dll" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.ACME.dll" />
        <File Id="Chem4Word.ACME.pdb" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.ACME.pdb" />
      </Component>
      <Component Id="Chem4Word.Core">
        <File Id="Chem4Word.Core.dll" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.Core.dll" />
        <File Id="Chem4Word.Core.pdb" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.Core.pdb" />
      </Component>
      <Component Id="Chem4Word.Libraries">
        <File Id="Chem4Word.Libraries.dll" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.Libraries.dll" />
        <File Id="Chem4Word.Libraries.pdb" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.Libraries.pdb" />
      </Component>
      <Component Id="Chem4Word.Model2">
        <File Id="Chem4Word.Model2.dll" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.Model2.dll" />
        <File Id="Chem4Word.Model2.pdb" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.Model2.pdb" />
      </Component>
      <Component Id="Chem4Word.Telemetry">
        <File Id="Chem4Word.Telemetry.dll" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.Telemetry.dll" />
        <File Id="Chem4Word.Telemetry.pdb" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.Telemetry.pdb" />
      </Component>
      <Component Id="Chem4Word.WebServices">
        <File Id="Chem4Word.WebServices.dll" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.WebServices.dll" />
        <File Id="Chem4Word.WebServices.pdb" Source="$(var.Chem4Word.V3.TargetDir)Chem4Word.WebServices.pdb" />
      </Component>
      <Component Id="IChem4Word.Contracts">
        <File Id="IChem4Word.Contracts.dll" Source="$(var.Chem4Word.V3.TargetDir)IChem4Word.Contracts.dll" />
        <File Id="IChem4Word.Contracts.pdb" Source="$(var.Chem4Word.V3.TargetDir)IChem4Word.Contracts.pdb" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <!-- Standard Plug Ins -->
  <Fragment>
    <ComponentGroup Id="PlugIns" Directory="PLUGINSFOLDER">
      <Component Id="Chem4Word.Editor.ACME">
        <File Id="Chem4Word.Editor.ACME.dll" Source="$(var.Chem4Word.V3.TargetDir)\PlugIns\Chem4Word.Editor.ACME.dll" />
        <File Id="Chem4Word.Editor.ACME.pdb" Source="$(var.Chem4Word.V3.TargetDir)\PlugIns\Chem4Word.Editor.ACME.pdb" />
      </Component>
      <Component Id="Chem4Word.Renderer.OoXmlV4">
        <File Id="Chem4Word.Renderer.OoXmlV4.dll" Source="$(var.Chem4Word.V3.TargetDir)\PlugIns\Chem4Word.Renderer.OoXmlV4.dll" />
        <File Id="Chem4Word.Renderer.OoXmlV4.pdb" Source="$(var.Chem4Word.V3.TargetDir)\PlugIns\Chem4Word.Renderer.OoXmlV4.pdb" />
      </Component>
      <Component Id="Chem4Word.Searcher.ChEBIPlugin">
        <File Id="Chem4Word.Searcher.ChEBIPlugin.dll" Source="$(var.Chem4Word.V3.TargetDir)\PlugIns\Chem4Word.Searcher.ChEBIPlugin.dll" />
        <File Id="Chem4Word.Searcher.ChEBIPlugin.pdb" Source="$(var.Chem4Word.V3.TargetDir)\PlugIns\Chem4Word.Searcher.ChEBIPlugin.pdb" />
      </Component>
      <Component Id="Chem4Word.Searcher.OpsinPlugIn">
        <File Id="Chem4Word.Searcher.OpsinPlugIn.dll" Source="$(var.Chem4Word.V3.TargetDir)\PlugIns\Chem4Word.Searcher.OpsinPlugIn.dll" />
        <File Id="Chem4Word.Searcher.OpsinPlugIn.pdb" Source="$(var.Chem4Word.V3.TargetDir)\PlugIns\Chem4Word.Searcher.OpsinPlugIn.pdb" />
      </Component>
      <Component Id="Chem4Word.Searcher.PubChemPlugIn">
        <File Id="Chem4Word.Searcher.PubChemPlugIn.dll" Source="$(var.Chem4Word.V3.TargetDir)\PlugIns\Chem4Word.Searcher.PubChemPlugIn.dll" />
        <File Id="Chem4Word.Searcher.PubChemPlugIn.pdb" Source="$(var.Chem4Word.V3.TargetDir)\PlugIns\Chem4Word.Searcher.PubChemPlugIn.pdb" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <!-- The User Manual -->
  <Fragment>
    <ComponentGroup Id="Manual" Directory="MANUAL">
      <Component Id="Chem4Word.Version3.User.Manual">
        <File Id="Chem4Word.Version3.User.Manual.docx" Source="$(var.Chem4Word.V3.TargetDir)..\..\..\..\docs\Chem4Word-Version3-2-User-Manual.docx" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <!-- SQLite x86 -->
  <Fragment>
    <ComponentGroup Id="SQLite.x86" Directory="SQLITEX86">
      <Component Id="SQLite.Interop.x86">
        <File Id="SQLite.Interop.x86.dll" Source="$(var.Chem4Word.V3.TargetDir)\x86\SQLite.Interop.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <!-- SQLite x64 -->
  <Fragment>
    <ComponentGroup Id="SQLite.x64" Directory="SQLITEX64">
      <Component Id="SQLite.Interop.x64">
        <File Id="SQLite.Interop.x64.dll" Source="$(var.Chem4Word.V3.TargetDir)\x64\SQLite.Interop.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <!-- Third Party DLLs -->
  <Fragment>
    <ComponentGroup Id="ThirdParty" Directory="INSTALLFOLDER">
      <!-- Microsoft Office Tools -->
      <Component Id="Microsoft.Office.Tools.Common.v4.0.Utilities">
        <File Id="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.Office.Tools.Common.v4.0.Utilities.dll" />
      </Component>
      <Component Id="Microsoft.Office.Tools.v4.0.Framework">
        <File Id="Microsoft.Office.Tools.v4.0.Framework.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.Office.Tools.v4.0.Framework.dll" />
      </Component>
      <Component Id="Microsoft.Office.Tools.Word">
        <File Id="Microsoft.Office.Tools.Word.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.Office.Tools.Word.dll" />
      </Component>
      <Component Id="Microsoft.Office.Tools.Word.v4.0.Utilities">
        <File Id="Microsoft.Office.Tools.Word.v4.0.Utilities.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.Office.Tools.Word.v4.0.Utilities.dll" />
      </Component>
      <Component Id="Microsoft.VisualStudio.Tools.Applications.Runtime">
        <File Id="Microsoft.VisualStudio.Tools.Applications.Runtime.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.VisualStudio.Tools.Applications.Runtime.dll" />
      </Component>
      <!-- OpenXML SDK -->
      <Component Id="OpenXML.SDK">
        <File Id="DocumentFormat.OpenXml.dll" Source="$(var.Chem4Word.V3.TargetDir)DocumentFormat.OpenXml.dll" />
      </Component>
      <Component Id="OpenXML.SDK.Dependancy">
        <File Id="WindowsBase.dll" Source="$(var.Chem4Word.V3.TargetDir)WindowsBase.dll" />
      </Component>
      <!-- Database -->
      <Component Id="EntityFramework">
        <File Id="EntityFramework.dll" Source="$(var.Chem4Word.V3.TargetDir)EntityFramework.dll" />
      </Component>
      <Component Id="EntityFramework.SqlServer">
        <File Id="EntityFramework.SqlServer.dll" Source="$(var.Chem4Word.V3.TargetDir)EntityFramework.SqlServer.dll" />
      </Component>
      <Component Id="System.Data.Common">
        <File Id="System.Data.Common.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Data.Common.dll" />
      </Component>
      <Component Id="System.Data.SQLite">
        <File Id="System.Data.SQLite.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Data.SQLite.dll" />
      </Component>
      <Component Id="System.Data.SQLite.EF6">
        <File Id="System.Data.SQLite.EF6.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Data.SQLite.EF6.dll" />
      </Component>
      <Component Id="System.Data.SQLite.Linq">
        <File Id="System.Data.SQLite.Linq.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Data.SQLite.Linq.dll" />
      </Component>
      <!-- Other Nuget packages -->
      <Component Id="Azure.Core">
        <File Id="Azure.Core.dll" Source="$(var.Chem4Word.V3.TargetDir)Azure.Core.dll" />
      </Component>
      <Component Id="Azure.Security.KeyVault.Secrets">
        <File Id="Azure.Security.KeyVault.Secrets.dll" Source="$(var.Chem4Word.V3.TargetDir)Azure.Security.KeyVault.Secrets.dll" />
      </Component>
      <Component Id="DotNetProjects.Input.Toolkit">
        <File Id="DotNetProjects.Input.Toolkit.dll" Source="$(var.Chem4Word.V3.TargetDir)DotNetProjects.Input.Toolkit.dll" />
      </Component>
      <Component Id="Ionic.Zip">
        <File Id="Ionic.Zip.dll" Source="$(var.Chem4Word.V3.TargetDir)Ionic.Zip.dll" />
      </Component>
      <Component Id="Microsoft.Azure.Services.AppAuthentication">
        <File Id="Microsoft.Azure.Services.AppAuthentication.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.Azure.Services.AppAuthentication.dll" />
      </Component>
      <Component Id="Microsoft.Bcl.AsyncInterfaces">
        <File Id="Microsoft.Bcl.AsyncInterfaces.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.Bcl.AsyncInterfaces.dll" />
      </Component>
      <Component Id="Microsoft.IdentityModel.Clients.ActiveDirectory">
        <File Id="Microsoft.IdentityModel.Clients.ActiveDirectory.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.IdentityModel.Clients.ActiveDirectory.dll" />
      </Component>
      <Component Id="Microsoft.IdentityModel.JsonWebTokens">
        <File Id="Microsoft.IdentityModel.JsonWebTokens.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.IdentityModel.JsonWebTokens.dll" />
      </Component>
      <Component Id="Microsoft.IdentityModel.Logging">
        <File Id="Microsoft.IdentityModel.Logging.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.IdentityModel.Logging.dll" />
      </Component>
      <Component Id="Microsoft.IdentityModel.Tokens">
        <File Id="Microsoft.IdentityModel.Tokens.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.IdentityModel.Tokens.dll" />
      </Component>
      <Component Id="Microsoft.Rest.ClientRuntime.Azure">
        <File Id="Microsoft.Rest.ClientRuntime.Azure.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.Rest.ClientRuntime.Azure.dll" />
      </Component>
      <Component Id="Microsoft.Rest.ClientRuntime">
        <File Id="Microsoft.Rest.ClientRuntime.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.Rest.ClientRuntime.dll" />
      </Component>
      <Component Id="Microsoft.ServiceBus">
        <File Id="Microsoft.ServiceBus.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.ServiceBus.dll" />
      </Component>
      <Component Id="Microsoft.Win32.Primitives">
        <File Id="Microsoft.Win32.Primitives.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.Win32.Primitives.dll" />
      </Component>
      <Component Id="Microsoft.Xaml.Behaviors">
        <File Id="Microsoft.Xaml.Behaviors.dll" Source="$(var.Chem4Word.V3.TargetDir)Microsoft.Xaml.Behaviors.dll" />
      </Component>
      <Component Id="netstandard">
        <File Id="netstandard.dll" Source="$(var.Chem4Word.V3.TargetDir)netstandard.dll" />
      </Component>
      <Component Id="Newtonsoft.Json">
        <File Id="Newtonsoft.Json.dll" Source="$(var.Chem4Word.V3.TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Ookii.Dialogs.WinForms">
        <File Id="Ookii.Dialogs.WinForms.dll" Source="$(var.Chem4Word.V3.TargetDir)Ookii.Dialogs.WinForms.dll" />
      </Component>
      <Component Id="System.AppContext">
        <File Id="System.AppContext.dll" Source="$(var.Chem4Word.V3.TargetDir)System.AppContext.dll" />
      </Component>
      <Component Id="System.Buffers">
        <File Id="System.Buffers.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Buffers.dll" />
      </Component>
      <Component Id="System.Collections.Concurrent">
        <File Id="System.Collections.Concurrent.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Collections.Concurrent.dll" />
      </Component>
      <Component Id="System.Collections">
        <File Id="System.Collections.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Collections.dll" />
      </Component>
      <Component Id="System.Collections.NonGeneric">
        <File Id="System.Collections.NonGeneric.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Collections.NonGeneric.dll" />
      </Component>
      <Component Id="System.Collections.Specialized">
        <File Id="System.Collections.Specialized.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Collections.Specialized.dll" />
      </Component>
      <Component Id="System.ComponentModel">
        <File Id="System.ComponentModel.dll" Source="$(var.Chem4Word.V3.TargetDir)System.ComponentModel.dll" />
      </Component>
      <Component Id="System.ComponentModel.EventBasedAsync">
        <File Id="System.ComponentModel.EventBasedAsync.dll" Source="$(var.Chem4Word.V3.TargetDir)System.ComponentModel.EventBasedAsync.dll" />
      </Component>
      <Component Id="System.ComponentModel.Primitives">
        <File Id="System.ComponentModel.Primitives.dll" Source="$(var.Chem4Word.V3.TargetDir)System.ComponentModel.Primitives.dll" />
      </Component>
      <Component Id="System.ComponentModel.TypeConverter">
        <File Id="System.ComponentModel.TypeConverter.dll" Source="$(var.Chem4Word.V3.TargetDir)System.ComponentModel.TypeConverter.dll" />
      </Component>
      <Component Id="System.Console">
        <File Id="System.Console.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Console.dll" />
      </Component>
      <Component Id="System.Diagnostics.Contracts">
        <File Id="System.Diagnostics.Contracts.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Diagnostics.Contracts.dll" />
      </Component>
      <Component Id="System.Diagnostics.Debug">
        <File Id="System.Diagnostics.Debug.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Diagnostics.Debug.dll" />
      </Component>
      <Component Id="System.Diagnostics.DiagnosticSource">
        <File Id="System.Diagnostics.DiagnosticSource.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Diagnostics.DiagnosticSource.dll" />
      </Component>
      <Component Id="System.Diagnostics.FileVersionInfo">
        <File Id="System.Diagnostics.FileVersionInfo.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Diagnostics.FileVersionInfo.dll" />
      </Component>
      <Component Id="System.Diagnostics.Process">
        <File Id="System.Diagnostics.Process.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Diagnostics.Process.dll" />
      </Component>
      <Component Id="System.Diagnostics.StackTrace">
        <File Id="System.Diagnostics.StackTrace.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Diagnostics.StackTrace.dll" />
      </Component>
      <Component Id="System.Diagnostics.TextWriterTraceListener">
        <File Id="System.Diagnostics.TextWriterTraceListener.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Diagnostics.TextWriterTraceListener.dll" />
      </Component>
      <Component Id="System.Diagnostics.Tools">
        <File Id="System.Diagnostics.Tools.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Diagnostics.Tools.dll" />
      </Component>
      <Component Id="System.Diagnostics.TraceSource">
        <File Id="System.Diagnostics.TraceSource.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Diagnostics.TraceSource.dll" />
      </Component>
      <Component Id="System.Diagnostics.Tracing">
        <File Id="System.Diagnostics.Tracing.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Diagnostics.Tracing.dll" />
      </Component>
      <Component Id="System.Drawing.Primitives">
        <File Id="System.Drawing.Primitives.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Drawing.Primitives.dll" />
      </Component>
      <Component Id="System.Dynamic.Runtime">
        <File Id="System.Dynamic.Runtime.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Dynamic.Runtime.dll" />
      </Component>
      <Component Id="System.Globalization.Calendars">
        <File Id="System.Globalization.Calendars.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Globalization.Calendars.dll" />
      </Component>
      <Component Id="System.Globalization">
        <File Id="System.Globalization.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Globalization.dll" />
      </Component>
      <Component Id="System.Globalization.Extensions">
        <File Id="System.Globalization.Extensions.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Globalization.Extensions.dll" />
      </Component>
      <Component Id="System.IdentityModel.Tokens.Jwt">
        <File Id="System.IdentityModel.Tokens.Jwt.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IdentityModel.Tokens.Jwt.dll" />
      </Component>
      <Component Id="System.IO.Compression">
        <File Id="System.IO.Compression.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.Compression.dll" />
      </Component>
      <Component Id="System.IO.Compression.ZipFile">
        <File Id="System.IO.Compression.ZipFile.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.Compression.ZipFile.dll" />
      </Component>
      <Component Id="System.IO">
        <File Id="System.IO.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.dll" />
      </Component>
      <Component Id="System.IO.FileSystem">
        <File Id="System.IO.FileSystem.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.FileSystem.dll" />
      </Component>
      <Component Id="System.IO.FileSystem.DriveInfo">
        <File Id="System.IO.FileSystem.DriveInfo.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.FileSystem.DriveInfo.dll" />
      </Component>
      <Component Id="System.IO.FileSystem.Primitives">
        <File Id="System.IO.FileSystem.Primitives.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.FileSystem.Primitives.dll" />
      </Component>
      <Component Id="System.IO.FileSystem.Watcher">
        <File Id="System.IO.FileSystem.Watcher.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.FileSystem.Watcher.dll" />
      </Component>
      <Component Id="System.IO.IsolatedStorage">
        <File Id="System.IO.IsolatedStorage.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.IsolatedStorage.dll" />
      </Component>
      <Component Id="System.IO.MemoryMappedFiles">
        <File Id="System.IO.MemoryMappedFiles.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.MemoryMappedFiles.dll" />
      </Component>
      <Component Id="System.IO.Packaging">
        <File Id="System.IO.Packaging.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.Packaging.dll" />
      </Component>
      <Component Id="System.IO.Pipes">
        <File Id="System.IO.Pipes.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.Pipes.dll" />
      </Component>
      <Component Id="System.IO.UnmanagedMemoryStream">
        <File Id="System.IO.UnmanagedMemoryStream.dll" Source="$(var.Chem4Word.V3.TargetDir)System.IO.UnmanagedMemoryStream.dll" />
      </Component>
      <Component Id="System.Linq">
        <File Id="System.Linq.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Linq.dll" />
      </Component>
      <Component Id="System.Linq.Expressions">
        <File Id="System.Linq.Expressions.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Linq.Expressions.dll" />
      </Component>
      <Component Id="System.Linq.Parallel">
        <File Id="System.Linq.Parallel.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Linq.Parallel.dll" />
      </Component>
      <Component Id="System.Linq.Queryable">
        <File Id="System.Linq.Queryable.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Linq.Queryable.dll" />
      </Component>
      <Component Id="System.Memory.Data">
        <File Id="System.Memory.Data.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Memory.Data.dll" />
      </Component>
      <Component Id="System.Memory">
        <File Id="System.Memory.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Memory.dll" />
      </Component>
      <Component Id="System.Net.Http">
        <File Id="System.Net.Http.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Net.Http.dll" />
      </Component>
      <Component Id="System.Net.NameResolution">
        <File Id="System.Net.NameResolution.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Net.NameResolution.dll" />
      </Component>
      <Component Id="System.Net.NetworkInformation">
        <File Id="System.Net.NetworkInformation.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Net.NetworkInformation.dll" />
      </Component>
      <Component Id="System.Net.Ping">
        <File Id="System.Net.Ping.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Net.Ping.dll" />
      </Component>
      <Component Id="System.Net.Primitives">
        <File Id="System.Net.Primitives.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Net.Primitives.dll" />
      </Component>
      <Component Id="System.Net.Requests">
        <File Id="System.Net.Requests.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Net.Requests.dll" />
      </Component>
      <Component Id="System.Net.Security">
        <File Id="System.Net.Security.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Net.Security.dll" />
      </Component>
      <Component Id="System.Net.Sockets">
        <File Id="System.Net.Sockets.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Net.Sockets.dll" />
      </Component>
      <Component Id="System.Net.WebHeaderCollection">
        <File Id="System.Net.WebHeaderCollection.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Net.WebHeaderCollection.dll" />
      </Component>
      <Component Id="System.Net.WebSockets.Client">
        <File Id="System.Net.WebSockets.Client.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Net.WebSockets.Client.dll" />
      </Component>
      <Component Id="System.Net.WebSockets">
        <File Id="System.Net.WebSockets.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Net.WebSockets.dll" />
      </Component>
      <Component Id="System.Numerics.Vectors">
        <File Id="System.Numerics.Vectors.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Numerics.Vectors.dll" />
      </Component>
      <Component Id="System.ObjectModel">
        <File Id="System.ObjectModel.dll" Source="$(var.Chem4Word.V3.TargetDir)System.ObjectModel.dll" />
      </Component>
      <Component Id="System.Reflection">
        <File Id="System.Reflection.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Reflection.dll" />
      </Component>
      <Component Id="System.Reflection.Extensions">
        <File Id="System.Reflection.Extensions.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Reflection.Extensions.dll" />
      </Component>
      <Component Id="System.Reflection.Primitives">
        <File Id="System.Reflection.Primitives.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Reflection.Primitives.dll" />
      </Component>
      <Component Id="System.Resources.Extensions">
        <File Id="System.Resources.Extensions.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Resources.Extensions.dll" />
      </Component>
      <Component Id="System.Resources.Reader">
        <File Id="System.Resources.Reader.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Resources.Reader.dll" />
      </Component>
      <Component Id="System.Resources.ResourceManager">
        <File Id="System.Resources.ResourceManager.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Resources.ResourceManager.dll" />
      </Component>
      <Component Id="System.Resources.Writer">
        <File Id="System.Resources.Writer.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Resources.Writer.dll" />
      </Component>
      <Component Id="System.Runtime.CompilerServices.Unsafe">
        <File Id="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="System.Runtime.CompilerServices.VisualC">
        <File Id="System.Runtime.CompilerServices.VisualC.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.CompilerServices.VisualC.dll" />
      </Component>
      <Component Id="System.Runtime">
        <File Id="System.Runtime.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.dll" />
      </Component>
      <Component Id="System.Runtime.Extensions">
        <File Id="System.Runtime.Extensions.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.Extensions.dll" />
      </Component>
      <Component Id="System.Runtime.Handles">
        <File Id="System.Runtime.Handles.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.Handles.dll" />
      </Component>
      <Component Id="System.Runtime.InteropServices">
        <File Id="System.Runtime.InteropServices.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.InteropServices.dll" />
      </Component>
      <Component Id="System.Runtime.InteropServices.RuntimeInformation">
        <File Id="System.Runtime.InteropServices.RuntimeInformation.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.InteropServices.RuntimeInformation.dll" />
      </Component>
      <Component Id="System.Runtime.Numerics">
        <File Id="System.Runtime.Numerics.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.Numerics.dll" />
      </Component>
      <Component Id="System.Runtime.Serialization.Formatters">
        <File Id="System.Runtime.Serialization.Formatters.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.Serialization.Formatters.dll" />
      </Component>
      <Component Id="System.Runtime.Serialization.Json">
        <File Id="System.Runtime.Serialization.Json.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.Serialization.Json.dll" />
      </Component>
      <Component Id="System.Runtime.Serialization.Primitives">
        <File Id="System.Runtime.Serialization.Primitives.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.Serialization.Primitives.dll" />
      </Component>
      <Component Id="System.Runtime.Serialization.Xml">
        <File Id="System.Runtime.Serialization.Xml.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Runtime.Serialization.Xml.dll" />
      </Component>
      <Component Id="System.Security.Claims">
        <File Id="System.Security.Claims.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Security.Claims.dll" />
      </Component>
      <Component Id="System.Security.Cryptography.Algorithms">
        <File Id="System.Security.Cryptography.Algorithms.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Security.Cryptography.Algorithms.dll" />
      </Component>
      <Component Id="System.Security.Cryptography.Csp">
        <File Id="System.Security.Cryptography.Csp.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Security.Cryptography.Csp.dll" />
      </Component>
      <Component Id="System.Security.Cryptography.Encoding">
        <File Id="System.Security.Cryptography.Encoding.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Security.Cryptography.Encoding.dll" />
      </Component>
      <Component Id="System.Security.Cryptography.Primitives">
        <File Id="System.Security.Cryptography.Primitives.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Security.Cryptography.Primitives.dll" />
      </Component>
      <Component Id="System.Security.Cryptography.X509Certificates">
        <File Id="System.Security.Cryptography.X509Certificates.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Security.Cryptography.X509Certificates.dll" />
      </Component>
      <Component Id="System.Security.Principal">
        <File Id="System.Security.Principal.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Security.Principal.dll" />
      </Component>
      <Component Id="System.Security.SecureString">
        <File Id="System.Security.SecureString.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Security.SecureString.dll" />
      </Component>
      <Component Id="System.Text.Encoding">
        <File Id="System.Text.Encoding.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Text.Encoding.dll" />
      </Component>
      <Component Id="System.Text.Encoding.Extensions">
        <File Id="System.Text.Encoding.Extensions.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Text.Encoding.Extensions.dll" />
      </Component>
      <Component Id="System.Text.Encodings.Web">
        <File Id="System.Text.Encodings.Web.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Text.Encodings.Web.dll" />
      </Component>
      <Component Id="System.Text.Json">
        <File Id="System.Text.Json.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Text.Json.dll" />
      </Component>
      <Component Id="System.Text.RegularExpressions">
        <File Id="System.Text.RegularExpressions.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Text.RegularExpressions.dll" />
      </Component>
      <Component Id="System.Threading">
        <File Id="System.Threading.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Threading.dll" />
      </Component>
      <Component Id="System.Threading.Overlapped">
        <File Id="System.Threading.Overlapped.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Threading.Overlapped.dll" />
      </Component>
      <Component Id="System.Threading.Tasks">
        <File Id="System.Threading.Tasks.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Threading.Tasks.dll" />
      </Component>
      <Component Id="System.Threading.Tasks.Extensions">
        <File Id="System.Threading.Tasks.Extensions.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Threading.Tasks.Extensions.dll" />
      </Component>
      <Component Id="System.Threading.Tasks.Parallel">
        <File Id="System.Threading.Tasks.Parallel.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Threading.Tasks.Parallel.dll" />
      </Component>
      <Component Id="System.Threading.Thread">
        <File Id="System.Threading.Thread.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Threading.Thread.dll" />
      </Component>
      <Component Id="System.Threading.ThreadPool">
        <File Id="System.Threading.ThreadPool.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Threading.ThreadPool.dll" />
      </Component>
      <Component Id="System.Threading.Timer">
        <File Id="System.Threading.Timer.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Threading.Timer.dll" />
      </Component>
      <Component Id="System.ValueTuple">
        <File Id="System.ValueTuple.dll" Source="$(var.Chem4Word.V3.TargetDir)System.ValueTuple.dll" />
      </Component>
      <Component Id="System.Xml.ReaderWriter">
        <File Id="System.Xml.ReaderWriter.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Xml.ReaderWriter.dll" />
      </Component>
      <Component Id="System.Xml.XDocument">
        <File Id="System.Xml.XDocument.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Xml.XDocument.dll" />
      </Component>
      <Component Id="System.Xml.XmlDocument">
        <File Id="System.Xml.XmlDocument.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Xml.XmlDocument.dll" />
      </Component>
      <Component Id="System.Xml.XmlSerializer">
        <File Id="System.Xml.XmlSerializer.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Xml.XmlSerializer.dll" />
      </Component>
      <Component Id="System.Xml.XPath">
        <File Id="System.Xml.XPath.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Xml.XPath.dll" />
      </Component>
      <Component Id="System.Xml.XPath.XDocument">
        <File Id="System.Xml.XPath.XDocument.dll" Source="$(var.Chem4Word.V3.TargetDir)System.Xml.XPath.XDocument.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>